/*koder for å få kontakt på riktige kolonner*/
div.column {
  column-count: 1;
}
div.column2 {
  column-count: 1;
  float: right;
}
div.column3 {
  column-count: 1;
  text-align: center;
}
.column, .column2, .column3 {
  width: 33.33%;
}
.row {
  content: "";
  display: table;
  clear: both;
}


