/*koder for å få kontakt på riktige kolonner*/
div.columnleft {
  column-count: 1;
  float: left;
}
div.columnright {
  column-count: 1;
  float: right;
}
div.columnmid {
  column-count: 1;
  float: middle;
}
.row {
  content: "";
  display: table;
  clear: both;
}


