/*koder for å få kontakt på riktige kolonner*/
div.columnleft {
  column-count: 1;
  float: left;
}
div.columnright {
  column-count: 1;
  float: right;
}
div.columnmid {
  column-count: 1;
  /*text-align: center;*/
}
.column, .column2, .column3 {
  width: 33.33%;
}
.row {
  content: "";
  display: table;
  clear: both;
}


