iframe {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  display: block;
  border-style: grey;
  
  
}

select {
  display: block;
  margin: 0 auto;
}


.responsive {
  width: 100%;
  height: auto;
  float: left;
}