/* Text and bodies */
body {
    background-color:#254e5a;
} 
div.text {
  text-align: left;
}

  h1, h2{
    color: white; 
    float: center;
    text-align: center;
  }

  a {
    color: white; 
    float: right; 
    font-size: 24px;
    text-align:right;
    margin-left: 20px;
  }
  p {
  font-size: 24px;
  color: white;
  text-align: center;
  }
 
/* Pitures */
img {
    width:100%;
    height: 700px;
}

  