/* Text and bodies */
body {
    background-color:#254e5a;
} 
div.text {
  text-align: left;
}

  h1, h2{
    color: white; 
    float: center;
    text-align: center;
  }

  a {
    color: white; 
    font-size: 24px;
    text-align:right;
    margin-left: 20px;
  }
  p {
  font-size: 24px;
  color: white;
  text-align: center;
  }
 
/* Pitures */
img {
    width:100%;
    height: 700px;
}
img.liteBilde {
  width: 185px;
  height: 169px;
}
/*Kontakt CSS*/
div.Left {
  padding: 0px 0px 0px 30px;
  float: left;
  vertical-align: top;
}

div.Right {
  padding: 0px 280px 0px 0px;
  float: right;
  vertical-align: top;
}

  /* Tables and lists */
ul.NavBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

  li.NavBar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
  background-color: blue;
  }