/* Text and bodies */
body {
    background-color:#254e5a;
    font-family: 'Open Sans', sans-serif;
} 
div.text {
  text-align: left;
}

  h1, h2{
    color: white; 
    float: center;
    text-align: center;
  }

div.frameindex{

  width:640;
  height:480;
  float: center;
}

  h3.swd {
    color: white
  }

  a {
    color: white; 
    font-size: 24px;
    text-align:right;
    margin-left: 20px;
  }
  p.index {
  font-size: 24px;
  color: white;
  text-align: center;
  }
 
/* Pitures */
img {
    width:100%;
    height: 700px;
}
img.liteBilde {
  width: 132px;
  height: 120px;
}
img.bunn {
  width: 100%;
  height: 180px;
}

/*Kontakt CSS*/
html, body {
  height: 100%;
}
div.Middle {
  position: relative;
  text-align: center;
  min-height: 100%;
}

div.footer {
  background-color: black;
  color: white;
  height: 450px;
  position: relative;
}

.footer .footer-content {
  height: 400px;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
  text-align: center;
}

.footer .footer-bottom {
  background-color: black;
  color: white;
  height: 50px;
  width:100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 0px;
}

div.infotekst{
  margin-left: 55px;
  margin-right: 55px;
}

  /* Tables and lists */
  /* NavBar, dropdown*/
ul.NavBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li.NavBar a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  position: relative;
  
  
}
ul.fylke {
  color: white;
  background-color: black;
  display: none;
  position: absolute;
  left: 361px;
  top: 68px;
  padding-right: 20px;
  padding-bottom: 20px;
}

ul.fylke li {
  font-size: 20px;
  display: block;
  position: relative; 
  margin-left:0px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul.by {
  background-color: black;
  display: none;
  position: absolute;
  left: 265px;
  bottom: 0px;
}

ul.by li {
  display: block;
  position: relative;
}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    margin: 5px;
  }
li .arrow {
  float: right;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  /* Change the link color to blue on hover and displays dropdown menu */
  ul.NavBar a:hover {
    background-color: blue;
    padding-right: 20 px;
  }
  ul li:hover ul.fylke{
    display: block;
  }
  ul.fylke li:hover {
    background-color: blue;
  }
  ul li ul li:hover ul.by {
    display: block;
  }